{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ post.title }}
{% endblock title %}

{% block content %}
<div class="bg-slate-950 text-white flex justify-center mx-auto rounded-md w-1/2 mb-4 mt-8"><h1 class="text-xl font-bold py-4">{{ post.title }}</h1></div>
<div class="flex justify-between px-32 mt-8 mb-8">
    <div><a href="mailto:{{ post.author.email_address }}"><h1 class="text-xl font-bold bg-stone-950 text-white p-4 rounded-xl">Author: {{ post.author }}</h1></a></div>
    <div class="text-xl font-bold bg-stone-950 text-white p-4 rounded-xl">Publish Date: <time>{{ post.date_posted|date:"D, d M Y"}}, {{ post.date_posted|time:"h:i A" }}</time></div>
</div>
<div class="ml-10 pl-24">
    {% for tag in tags %}
        <span class="underline font-bold">{{ tag.caption }}{% if not forloop.last %},{% endif %}</span>
        <span> </span>
    {% endfor %}
</div>
<div class="w-2/5 mx-auto mb-16">
    <div class="mb-8"><img src="{% static "image/"|add:post.image_name %}" alt="{{ post.title }}" class="w-[100%]"></div>
    <div class=""><p>{{ post.content|linebreaks }}</p></div>
</div>
{% endblock content %}